<div class="header">
    <p class="mat-h1">{{ pageTitle }}</p>
</div>
<div class="shopping-cart" *ngIf="shoppingCartitems?.length > 0;else emptyCart">
    <div class="cart-item" *ngFor="let item of shoppingCartitems">
        <img mat-card-image [src]='item.product.small_image_path' [alt]='item.product.description'
            style="float:left; width: 20%; padding: 25px">
        <span>{{ item.product.title }}</span>
        <span>{{ item.product.price | currency }}</span>
        <span>
            <mat-form-field>
                <mat-select [(value)]="item.quantity" name="quantity"
                    (selectionChange)="updateCart($event, item.product)">
                    <mat-option *ngFor="let s_quantity of quantity" [value]="s_quantity">
                        {{ s_quantity }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span><button mat-raised-button color="accent" (click)="removeProduct(item.product.id)">Delete</button></span>
    </div>
    <hr>
    <div class="cart-item">
        <span>Subtotal ({{ getShoppingCartQuantity() }} items):
            <strong>{{ getShoppingCartTotal() | currency }}</strong></span>
    </div>
    <button mat-raised-button color="primary" routerLink="/checkout">Checkout</button>
</div>

<ng-template #emptyCart>
    <div class="container">
        <mat-card style="padding: 5%;">
            <div class="mat-h1">There are no items in your Cart.</div>
        </mat-card>
    </div>
</ng-template>