<div class="header">
    <p class="mat-h1">{{ pageTitle }}</p>
</div>

<div class="register-div">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" [ngClass]="{ 'is-invalid': f.username.errors }">
                <mat-error *ngIf="f.username.errors">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                </mat-error>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" [ngClass]="{ 'is-invalid': f.email.errors }">
                <mat-error *ngIf="f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Invalid email format</div>
                    <div *ngIf="f.email.errors.maxlength">Email length cannot be greater than 254 characters</div>
                </mat-error>
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password"
                    [ngClass]="{ 'is-invalid': f.password.errors }">
                <mat-error *ngIf="f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.maxlength">Password length cannot be greater than 20 characters</div>
                </mat-error>
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.errors }">
                <mat-error *ngIf="f.confirmPassword.errors">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </mat-error>
                <mat-icon matSuffix>done</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button style="margin-right: 30px;"
                [title]="registerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                [disabled]="!registerForm.valid">Register</button>
            <strong><a routerLink="/login" mat-button color="primary">Login</a></strong>
        </p>

    </form>
</div>